@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Firstname" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Firstname"></label>
                <span asp-validation-for="Input.Firstname" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Lastname" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Lastname"></label>
                <span asp-validation-for="Input.Lastname" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Address" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Address"></label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.PhoneNumber"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="role">Select Role:</label>
                <select class="form-control" id="role" asp-for="Input.Role">
                    @foreach (var role in Model.Input.RoleList)
                    {
                        <option value="@role.Value">@role.Text</option>
                    }
                </select>
            </div>
            <div id="restaurantField" style="display:none;">
                <div class="form-floating">
                    <input asp-for="Input.RestaurantName" class="form-control" autocomplete="username" />
                    <label asp-for="Input.RestaurantName"></label>
                    <span asp-validation-for="Input.RestaurantName" class="text-danger"></span>
                </div>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function myFunction() {
            var x = document.getElementById("restaurantField");
            var role = document.getElementById("role").value;
            if (role === "Restaurant-Manager") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        document.getElementById("role").addEventListener("change", myFunction);
    </script>

    <partial name="_ValidationScriptsPartial" />
}
