/* Default styles */
img {
    width: 100%;
}

.login {
    min-height: 100vh;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box {
    width: 90%;
    max-width: 1050px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}

    .login_box .left {
        width: 50%;
        padding: 25px;
    }

    .login_box .right {
        width: 50%;
        background: linear-gradient(212.38deg, rgba(242, 57, 127, 0.7) 0%, rgba(175, 70, 189, 0.71) 100%), url(https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cmVzdGF1cmFudHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
        color: #fff;
    }

.left .top_link a {
    color: #452A5A;
    font-weight: 400;
}

.left .top_link {
    height: 20px;
}

.left .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.left h3 {
    text-align: center;
    margin-bottom: 40px;
}

.left input {
    border: none;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
}

.left {
    background: linear-gradient(-45deg, #dcd7e0, #fff);
}

.right .right-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-text h2 {
    font-size: 50px;
    font-weight: 500;
}

.right-text h5 {
    font-size: 19px;
    font-weight: 400;
}

.right .right-inductor {
    position: absolute;
    width: 70px;
    height: 7px;
    background: #fff0;
    left: 50%;
    bottom: 70px;
    transform: translate(-50%, 0%);
}

.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}

@media (max-width: 1050px) {
    .login_box {
        flex-direction: column;
        width: 80%;
        max-width: none;
    }

        .login_box .left {
            width: 100%;
            text-align: center;
        }

        .login_box .right {
            display: none;
        }
}
