html {
  font-size: 14px;  

}
.menu-container {
    position:relative;
    margin:10px;
    border-radius:10px;
    padding:10px;
    justify-content:center;
    background-color:antiquewhite;
    width:220px;
    height:220px;
    margin-left:auto;
    margin-right:auto;
}
.div-hover1{
    background-color:transparent;
    display:inline-block;
    align-items:center;
    justify-content:center;
    margin:15px;
   
}
.div-hover {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .3s ease;
  
}
.rate-button {
    position: relative;
    display: flex;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: #FFD700;
    font-size: 30px;
    padding: 0;
    margin: 0;
}
.star-rating {
    display: inline-block;
    font-size: 25px;
    margin-top:-25px;
    color: #FFD700;
}

.rating-system {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    color: white;
}
.menu-container .div-hover{
    display:none;

}
.menu-container:hover img{
    opacity:0.4;
}
.menu-container:hover .div-hover{
    display:flex;
    opacity:1;
}

.menu-container h2 {
    text-align:left;
    font-size: 20px;
    text-shadow:1px 1px;
    border-bottom:1px solid;

}
.btn1 {
    color:white;
    width: 100px;
    height: 50px;
    border-radius:10px;
    border:none;
    background-color:gray;

}
.div3 {
    display: flex !important;
    flex-wrap: wrap;
    flex-basis: calc(20% - 10px);
    flex-direction:column;
}
.div2 {
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.Text {
    color: transparent; 
    margin: 0;
   font-size:70px;
   font-weight:700;
   -webkit-text-stroke: 3px white
   ;
}
.home-div {
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    background: url(https://img.freepik.com/free-photo/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.jpg?w=2000) no-repeat center center fixed;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
header{
    background-color: antiquewhite ;
}
html {
  position: relative;
  min-height: 100%;
}
body {
    margin-bottom: 60px;
}
footer{
    background-color:  antiquewhite ;
}
.div1{
    position:relative;
    align-items:center;
    text-align:center;
}
.profile{
    position:relative;
    border: solid;
    border-radius : 50%;
    width:240px;
}
.MenuItems {
    border: 1px solid #ccc;
    margin: 5px;
    height: 250px;
    width: 200px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.card {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: transform 0.2s;
}

    .card img {
        max-width: 100%;
        object-fit: cover;
        border-radius: 5px 5px 0 0;
    }

    .card:hover {
        transform: scale(1.05); 
    }

    .card .card-content {
        flex-grow: 1;
        padding: 10px;
        background: #f9f9f9; 
        border-radius: 0 0 5px 5px;
    }

.card-content h5 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.card-content p {
    margin: 0;
    font-size: 14px;
    color: #555;
}


@media (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 10px);
    }
}

@media (max-width: 576px) {
    .card {
        flex-basis: calc(100% - 10px);
    }
}

h3 {
    margin-bottom: 25px;
}
.p {
    border: 1px solid black; 
    margin: 10px 0;
}
.row1{
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    padding: 10px;
}
.search-bar {
    position: absolute;

    transform: translate(-50%, -50%);
    max-width: 80%;
}


#container {
    width: 80%;
    margin: 0 auto;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: relative;
    margin-bottom:20px;
    margin-top:20px;
}



